<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="fa fa-caret-down"></span></button>
<ul class="dropdown-menu" ng-if="_i != 3">
    <li ng-click="param.values[_i]='{now(\'M\', -1, \'yyyy-MM-dd\')}'"><a>{{'COMMON.LAST1M'|translate}}</a></li>
    <li ng-click="param.values[_i]='{now(\'W\', -1, \'yyyy-MM-dd\')}'"><a>{{'COMMON.LAST1W'|translate}}</a></li>
    <li ng-click="param.values[_i]='{now(\'D\', -10, \'yyyy-MM-dd\')}'"><a>{{'COMMON.LAST10D'|translate}}</a></li>
</ul>

<ul class="dropdown-menu" ng-if="_i == 3">
    <li ng-click="param.values.push('{now(\'M\', -1, \'yyyy-MM-dd\')}')"><a>{{'COMMON.LAST1M'|translate}}</a></li>
    <li ng-click="param.values.push('{now(\'W\', -1, \'yyyy-MM-dd\')}')"><a>{{'COMMON.LAST1W'|translate}}</a></li>
    <li ng-click="param.values.push('{now(\'D\', -10, \'yyyy-MM-dd\')}')"><a>{{'COMMON.LAST10D'|translate}}</a></li>
</ul>

<ul class="dropdown-menu" ng-if="_i == 4">
    <li ng-click="param.values[0] = '{now(\'M\', -1, \'yyyy-MM-dd\')}'"><a>{{'COMMON.LAST1M'|translate}}</a></li>
    <li ng-click="param.values[0] = '{now(\'W\', -1, \'yyyy-MM-dd\')}'"><a>{{'COMMON.LAST1W'|translate}}</a></li>
    <li ng-click="param.values[0] = '{now(\'D\', -10, \'yyyy-MM-dd\')}'"><a>{{'COMMON.LAST10D'|translate}}</a></li>
</ul>